.hero {
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.hero__heading {
  margin-top: 14%;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 0.958;
  color: #fff;
  word-wrap: break-word;
  @include respond-to(medium) {
    font-size: 4.5rem;
  }
}

.hero__header-sml-below {
  display: block;
  @include respond-to(medium) {
    display: inline-block;
  }
}

.hero__heading-diff-color {
  display: block;
  color: $color-btns-icons-efects;
}

.hero__phone-number {
  padding: 1% 0 3% 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.hero__btn {
  @include main-btn;
  margin-bottom: 6rem;
}

// CAROUSEL
.hero__carousel {
  @include carousel;
}

.hero__slide {
  @include carousel-slide;
  background: center/cover no-repeat url('/images/hero/hero-bcg-small.jpg');
  @include respond-to(medium) {
    background: center/cover no-repeat url('/images/hero/hero-bcg.jpg');
  }
}

.hero__radio {
  display: none;
}

.hero__pagination {
  @include carousel-pagination;
}

.hero__label {
  @include carousel-label;
}

#hero__radio--1:checked ~ .hero__pagination .hero__label--1,
#hero__radio--2:checked ~ .hero__pagination .hero__label--2,
#hero__radio--3:checked ~ .hero__pagination .hero__label--3 {
  background: $color-btns-icons-efects;
}

#hero__radio--1:checked ~ .hero__slide {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
#hero__radio--2:checked ~ .hero__slide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#hero__radio--3:checked ~ .hero__slide {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
