.hero {
  // DO POPRAWY
  padding-bottom: 75%;
  @media screen and (orientation: landscape) {
    padding-bottom: 60%;
  }
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  @include respond-to(medium-large) {
    padding-bottom: 70vh;
  }
}

.hero__heading {
  margin-top: 13%;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 0.958;
  color: #fff;
  word-wrap: break-word;
  @include respond-to(medium) {
    font-size: 4.5rem;
  }
}

.hero__header-sml-below {
  display: block;
  @include respond-to(medium) {
    display: inline-block;
  }
}

.hero__heading-diff-color {
  display: block;
  color: $color-btns-icons-efects;
}

.hero__phone-number {
  padding: 1% 0 3% 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.hero__btn {
  @include main-btn;
}

// CAROUSEL
.hero__carousel {
  overflow: hidden;
}

.hero__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 1600ms;
}

.hero__slide--1 {
  background: url(/images/hero/hero-bcg-small.jpg) center/cover no-repeat;
  @include respond-to(medium) {
    background: url(/images/hero/hero-bcg.jpg) center/cover no-repeat;
  }
  left: 0;
}

.hero__slide--2 {
  background: url(/images/hero/hero-bcg-small.jpg) center/cover no-repeat;
  @include respond-to(medium) {
    background: url(/images/hero/hero-bcg.jpg) center/cover no-repeat;
  }
  left: 100%;
}

.hero__slide--3 {
  background: url(/images/hero/hero-bcg-small.jpg) center/cover no-repeat;
  @include respond-to(medium) {
    background: url(/images/hero/hero-bcg.jpg) center/cover no-repeat;
  }
  left: 200%;
}

.hero__pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 998;
}

.hero__label {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  margin: 0 2px;
  border: solid 2px $color-btns-icons-efects;
  cursor: pointer;
}

#hero__radio--1:checked ~ .hero__pagination .hero__label--1,
#hero__radio--2:checked ~ .hero__pagination .hero__label--2,
#hero__radio--3:checked ~ .hero__pagination .hero__label--3 {
  background: $color-btns-icons-efects;
}

#hero__radio--1:checked ~ .hero__slide {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
#hero__radio--2:checked ~ .hero__slide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#hero__radio--3:checked ~ .hero__slide {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

/*
carousel idea by Oleksandr Zinchenko https://codepen.io/Qvatra/
*/