#map {
  width: 100%;
  height: 416px;
}

// CONTACT
.map__contact {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 1rem;
  font-style: normal;
}

.map__info-wrapper {
  display: inline-flex;
  margin-bottom: 1rem;
}

.map__info {
  font-size: 14px;
  color: $color-para-non-white-background;
}

.map__icon-wrapper {
  max-width: 35px;
  width: 100%;
  height: 35px;
  background-color: $color-heading-secondary;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;;
}

.map__info-icon {
  align-self: center;
}

.map__info {
  align-self: center;
  margin-left: 1rem;
}
