// MEDIA
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'medium-large': 896px,
  'large': 1400px
);

@mixin respond-to($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin section-width {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

@mixin section-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
}

@mixin section-heading-secondary {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

@mixin main-btn {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  background-color: $color-btns-icons-efects;
  border: 0px;
  border-radius: 21px;
  padding: 0.8rem 2.8rem;
  cursor: pointer;
}