$font-main: 'Montserrat', sans-serif;

$color-btns-icons-efects: #b88b58;
$color-secondary-heading: #aeaeae;
$color-icons-background: #bebebe;
$color-para-non-white-background: #7e7e7e;
$color-less-black: #242424;